@import url("./fonts/IranSans.css");

html {
  direction: rtl;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: IRANSans, "Times";
  text-align: right;
  display: flex;
  width: 100%;
  height: 100%;
}

.panel-container {
  background: url("./images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 5% 10%;
  box-sizing: border-box;
}

.main-section {
  background-color: #f5f5fb;
  border-radius: 20px;
  width: 100%;
  min-height: 600px;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(72 72 72 / 27%);
}

.sidebar {
  width: 230px;
  background-color: #ffffff;
  border-left: 1px solid #c9cfde;
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
}

.sidebar > .title {
  width: 100%;
  color: #e8546d;
  display: flex;
  font-weight: 500;
  flex-direction: row;
  align-items: center;
  font-size: 23px;
  padding: 0 50px;
}

.sidebar > .title > img {
  width: 100%;
}

.sidebar > .menu > ul {
  background-color: #fefefe;
}

.sidebar > .menu > ul {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  width: 100%;
}

.sidebar > .menu > ul > li {
  display: flex;
  flex-direction: row;
  height: 60px;
}

.sidebar > .menu > ul > li > a {
  color: #9696bb;
  font-size: 17px;
  display: flex;
  padding: 0 40px;
  width: 100%;
  text-decoration: none;
  font-weight: 400;
  flex-direction: row;
  align-items: center;
}

.sidebar > .menu > ul > li > a:hover {
  color: #131336;
}

.sidebar > .menu > ul > li > a:hover > i {
  color: #5e81f4;
}

.sidebar > .menu > ul > li > a.active {
  color: #131336;
  position: relative;
}

.sidebar > .menu > ul > li > a.active:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 30px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #5e81f4;
  left: 0;
}

.sidebar > .menu > ul > li > a.active > i {
  color: #5e81f4;
}

.sidebar > .menu > ul > li > a > .menu-icon {
  margin-left: 20px;
  width: 22px;
  height: 22px;
  font-size: 22px;
  text-align: center;
}

.sidebar > .power-up-container {
  width: 100%;
  height: 200px;
  padding: 0 20px;
  margin-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar > .power-up-container:before {
  content: "";
  position: absolute;
  background-image: url("./icons/data.svg");
  background-size: cover;
  width: 80px;
  height: 80px;
  top: -40px;
}

.sidebar > .power-up-container > .power-up-message {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #f5f5fb;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  flex-direction: column;
}

.sidebar > .power-up-container > .power-up-message > span {
  color: #9696bb;
  text-align: center;
  font-size: 13px;
  cursor: default;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 25px;
}

.sidebar > .power-up-container > .power-up-message > span > strong {
  color: #131336;
  font-weight: 800;
}

.btnStyle {
  border-radius: 10px;
  outline: none;
  border: none;
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  font-size: 15px;
  text-align: center;
  padding: 7px 10px;
  flex-direction: row;
}

.btnStyle:focus {
  outline: none;
}

.btnStyle_1 {
  background-color: #5e81f4;
  color: #ffffff;
}

.content {
  width: 100%;
  min-height: 100%;
  align-items: stretch;
  padding: 45px 40px 30px 40px;
  display: flex;
  flex-direction: column;
}

.section-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
}

.content .section-title {
  display: inline-block;
  padding-bottom: 10px;
  color: #131336;
}

.section-header > .button-container {
  display: inline-block;
}

.section-header > .button-container > button {
  width: 35px;
  height: 35px;
  padding: 0;
}

/* Modal - START */

.vida-modal-container {
  background-color: rgb(0 0 0 / 13%);
  position: absolute;
  display: none;
  opacity: 0;
  transition: opacity 200ms ease-out;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.vida-modal-container > div {
  width: 600px;
  height: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

/* Modal - End */

/* PaginationBar - START */
.page-item:first-child .page-link {
  border-radius: unset;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-radius: unset;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
/* PaginationBar - End */

/* Dialog - START */

.vida-dialog {
  background-color: rgb(0 0 0 / 13%);
  position: absolute;
  display: none;
  opacity: 0;
  transition: opacity 200ms ease-out;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.vida-dialog > div {
  width: 30%;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

/* Dialog - End */

.tick-container {
  fill: #44c4a1;
}

.vida-tick-svg {
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  animation: appear-tick 3s infinite ease-out;
}

@keyframes appear-tick {
  to {
    stroke-dashoffset: 0;
  }
}
